.background{
    background-image: url(./images/photo-1536724718637-70e3111a7abf.avif);
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    width: 100%;
    height: 200vh;
}
.container{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 30px;
    border:2px solid black;
    padding: 1%;
    background-color: rgba(250, 235, 215, 0.109);
}