*{
    margin: 10px;
    padding: 0;
}
body{
    margin: 3px;
    background-color: aqua;
}
.idSelector{
    color: red;
    background-color: rgb(192, 99, 99);
}

#idSelector{
    color: rgb(204, 0, 255);
    background-color: pink;
}