.container {
    background-color: aqua;
    margin: 10%;
    display: grid;
    /* grid-template-columns: 100px 200px 300px; -> divide item in three 
    columns but space is remaining when to give them in pixel
    So use 1fr(fractional value)*/
    /* grid-template-columns: 1fr 1fr 1fr; -> divide the items in equal three column acc to space avaible */
    /* grid-template-columns: repeat(3,1fr); */
    /* gap in rows and columns */
    /* row-gap: 30px; -> create gap between rows*/
    /* column-gap: 30px; -<create gap between columns */
    gap: 30px 30px; /* create gap between both rows and columns */
    grid-auto-rows: 100px; /* make every row height 100px */

    /* variable column */
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    /* take min width 100px and otherwise remaining space and divide equaly */

    /* grid-auto-flow: dense; --> auto add the items up and down to remove extra space */

    /* justify-items: center; ->x-axis
    align-items: center;  ->y-axis*/
    /* justify-content: center; 
    align-content:center;*/
}
.tem {
    background-color: blueviolet;
}
.item1{
    grid-column-start: 1;
    grid-column-end: -1;
    /* grid-column: 1/3; ->shorthand of the above line */
    /* grid-column: 1/span 2; ->shorthand of the above line */
    grid-row-start: 1;
    grid-row-end: 3;
    /* grid-row:span 2 */
}