
.item{
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}
.item1{
    background-color: aqua;
    position: absolute;
    top: 30%;
}
.item2{
    background-color: rgb(26, 255, 0);
}
.item3{
    background-color: rgb(255, 157, 0);
}
.item4{
    background-color: rgb(191, 0, 255);
}
.item5{
    background-color: rgb(255, 0, 149);
}
.container{
    background-color: brown;
    width: 50%;
    margin: 20% auto;
    height: 100vh;
    position: relative;
}
.para{
}

/* position take the top left bottom right properties from its parents */
/* absolute take the top left bottom right properties from root element bydefault otherwise check position relative to their parents */